@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: hsl(36, 100%, 99%);
}

p, a{
    font-size: 15px;
}


.article__img{
        height: 137px;
        width: 111px;
        object-fit: cover;
}